nav {
    background-image: linear-gradient(to right, #51ccde, #214788);
}

.acc {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.li {
    background-color: lightgray;
    color: black;
}

.su {
    background-color: dodgerblue;
    color: black;
}

.title {
    font-size: 120px;
}